<router-outlet></router-outlet>
<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="#"><img src="assets/logo.png" width="130px"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <app-search></app-search>


    <span class="filler"></span>



    <i class='far fa-user' style='font-size: 14px;color:white'></i>
    <a href="" routerLink="/login">
    <span class="gap-login" style="font-size: 14px; color: white; text-underline: #007CB7">
    Login
    </span>
    </a>



    <i class="fa fa-shopping-cart" style="font-size: 14px;color: white"></i>


    <a href="#" routerLink="/cart">
    <span class="gap" style="font-size: 14px; color: white; text-underline: #007CB7">
    My Cart
    </span>
    </a>

  </div>

</nav>
<!--<div class="fb-customerchat" page_id="1422313348021791" minimized="true">-->
<!--</div>-->

<!--<div class="fb-livechat">-->
  <!--<div class="ctrlq fb-overlay"></div>-->
  <!--<div class="fb-widget">-->
    <!--<div class="ctrlq fb-close"></div>-->
    <!--<div class="fb-page" data-href="https://www.facebook.com/delllaptopbot/" data-tabs="messages" data-width="360" data-height="400" data-small-header="true" data-hide-cover="true" data-show-facepile="false">-->
      <!--<blockquote cite="https://www.facebook.com/delllaptopbot/" class="fb-xfbml-parse-ignore"> </blockquote>-->
    <!--</div>-->
    <!--<div class="fb-credit">-->
      <!--<a href="https://www.labnol.org/software/facebook-messenger-chat-widget/9583/" target="_blank">DellBot</a>-->
    <!--</div>-->
    <!--<div id="fb-root"></div>-->
  <!--</div>-->
  <!--<a href="https://www.facebook.com/delllaptopbot/" title="Send us a message on Facebook" class="ctrlq fb-button"></a>-->
<!--</div>-->

<router-outlet></router-outlet>
