.mat-toolbar.mat-primary {
  background: #007CB7;
  color: #fff;
}

.navbar{
  background: #007CB7;
}

.btn-outline-primary{
 color: white;
  border-color: white;
}

#logo {
  padding-bottom: 50px;
}

.filler {
  flex: 1 1 auto;
}
.gap {
  margin-left: 7px;
}

.gap-login{
  margin-left: 7px;
  margin-right: 14px;
}

h2{
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-weight: 600;
  color: #4A4A4A;
  padding-top: 2em;
}

h3{

  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #4A4A4A;
  font-size: 1.25rem;
}

.main{
  padding-top: 6em;
  padding-bottom: 5em;
  margin: 0 2em 2em 2em
}
.container{
  margin-top: 2.5em
}

.offer-card{
  border: rgba(170, 170, 170,0.4) solid 1px;
  padding-top: 6em;
  padding-bottom: 5em;
  margin: 0 2em 2em 2em;
  max-width: 300px
}
.mat-card-content{
  margin-top: 1em
}

.offer-text{
  font-family: 'Open Sans', sans-serif;
  margin-top: 0;
  text-overflow: ellipsis;
  min-height: 120px;
  max-height: 120px;
}

.body{
  background-color: #F8F9FA;
  padding-top: 2em
}

.content{
  padding: 2em;
  line-height: 2;
  padding: 2em 4em 2em 4em;
}

footer{
  background: darkblue;
  width: 100%;
}

.row{
  padding: 0.5em 0   0.5em 0;
  text-align: center;
  color: white;
  opacity: 0.8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px
}

mat-card img{
  object-fit: contain; /*this makes de image in src fit to the size of specified below*/
  width: 80%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  height: 50%;
}

.carousel-image{
  object-fit: fill; /*this makes de image in src fit to the size of specified below*/
  width: 100%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
}

.mat-button{
  color: #007CB7;
}

ul.specs{
  list-style-position: inside;
}

.specs-container{
  text-align: left;
}
