<div class="row" style="padding: 50px">
<div class="container" style="height: 100px; width: 270px">
  <mat-card class="offer-card">
    <img mat-card-image
         src="../../assets/line-chart.png">

    <mat-card-content>
      <h6 style="padding-left: 15px">Order Conversion Rate</h6>
    </mat-card-content>
    <mat-card-actions>
      <a href="https://public.tableau.com/profile/tarushi.sharma#!/vizhome/conversions/Dashboard1?publish=yes" target="_blank">
      <button mat-button class="mat-button">KNOW MORE</button>
      </a>
    </mat-card-actions>

  </mat-card>

</div>

  <div class="container" style="height: 100px; width: 270px">
    <mat-card class="offer-card">
      <img mat-card-image
           src="../../assets/barchart.png">

      <mat-card-content>
        <h6 style="padding-left: 20px">Increased Revenues</h6>
      </mat-card-content>
      <mat-card-actions>
        <a href="https://public.tableau.com/profile/tarushi.sharma#!/vizhome/laptop-purchases/Dashboard1?publish=yes" target="_blank">
        <button mat-button class="mat-button">

          KNOW MORE</button>
        </a>
      </mat-card-actions>
    </mat-card>

  </div>
</div>
