<style>
  .res{
    width: 500px;
  }
  @media screen and (max-width: 600px) {
    .res{
      width: 30%;
    }
  }
</style>

<form class="example-form">
  <input class="res" type="text" placeholder="Search for a product" [formControl]="control" [matAutocomplete]="auto" >
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let street of filteredStreets | async" [value]="street">
      {{street}}
    </mat-option>
  </mat-autocomplete>
</form>
