<mat-card class="login-card">
  <mat-card-content>
    <div class=body-login>
      <div class="login-wrap">
        <div class="login-html">
          <div class="log-box">
            <img class="logo" src="../../assets/logo-blue.png" height="70" width="70">
          </div>
          <div class="login-form">
            <div class="sign-in-htm" *ngIf="isSignin==true">
              <div class="group">
                <input name="username" type="text" [(ngModel)]="email" class="input" placeholder="Email Address" required>
              </div>
              <div class="group" style="margin-top:1em;">
                <input id="password" name="password" [(ngModel)]="password" type="password" class="input"
                       data-type="password" placeholder="Password" required>
              </div>
              <br>
              <div class="group" style="margin-top:1em;">
                <button type="submit" name="Login" class="button" routerLink="">Login</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </mat-card-content>

</mat-card>
