/*background hover item     -------     color 2 */
/*text color                -------     color 3 */
/*text hover color          -------     color 4*/
/*border color              -------     color 5 */
.ets_mm_megamenu .mm_menus_li h4,
.ets_mm_megamenu .mm_menus_li h5,
.ets_mm_megamenu .mm_menus_li h6,
.ets_mm_megamenu .mm_menus_li h1,
.ets_mm_megamenu .mm_menus_li h2,
.ets_mm_megamenu .mm_menus_li h3,
.ets_mm_megamenu .mm_menus_li h4 *:not(i),
.ets_mm_megamenu .mm_menus_li h5 *:not(i),
.ets_mm_megamenu .mm_menus_li h6 *:not(i),
.ets_mm_megamenu .mm_menus_li h1 *:not(i),
.ets_mm_megamenu .mm_menus_li h2 *:not(i),
.ets_mm_megamenu .mm_menus_li h3 *:not(i),
.ets_mm_megamenu .mm_menus_li > a{
  font-family: inherit;
}
.ets_mm_megamenu *{
  font-family: inherit;
}

.mat-toolbar.mat-primary {
  background: #007CB7;
  color: #fff;
}

.layout_layout1 .mm_menus_li:hover > a,
.layout_layout1 .mm_menus_li.active > a,
#header .layout_layout1 .mm_menus_li:hover > a,
#header .layout_layout1 .mm_menus_li.active > a{color: #ffffff;}

.layout_layout1 li:hover > a,
.layout_layout1 li > a:hover,
#header .layout_layout1 li:hover > a,
#header .layout_layout1 .mm_columns_ul .mm_block_type_product .product-title > a:hover,
#header .layout_layout1 li > a:hover{color: #F9B002;}

.layout_layout2 .mm_columns_ul li:hover > a,
.layout_layout2 .mm_columns_ul li > a:hover,
#header .layout_layout2 .mm_columns_ul .mm_block_type_product .product-title > a:hover,
#header .layout_layout2 .mm_columns_ul li:hover > a,
#header .layout_layout2 .mm_columns_ul li > a:hover{color: #F9B002;}

.layout_layout3 .mm_columns_ul .ets_mm_categories .has-sub li:hover > a,
.layout_layout3 .mm_columns_ul .ets_mm_categories .has-sub li > a:hover,
#header .layout_layout3 .mm_columns_ul .ets_mm_categories .has-sub li:hover > a,
#header .layout_layout3 .mm_columns_ul .ets_mm_categories .has-sub li > a:hover{
  color: #F9B002;
}
.layout_layout3 .mm_columns_ul li:hover > a,
.layout_layout3 .mm_columns_ul li > a:hover,
#header .layout_layout3 .mm_columns_ul li:hover > a,
#header .layout_layout3 .mm_columns_ul li > a:hover{color: #F9B002;}

.layout_layout4 .mm_columns_ul li:hover > a,
.layout_layout4 .mm_columns_ul li > a:hover,
#header .layout_layout4 .mm_columns_ul li:hover > a,
#header .layout_layout4 .mm_columns_ul .mm_block_type_product .product-title > a:hover,
#header .layout_layout4 .mm_columns_ul li > a:hover{color: #F9B002;}

.layout_layout5 li:hover > a,
.layout_layout5 li > span.arrow:hover,
.layout_layout5 li > a:hover,
.layout_layout5 .mm_menus_li.active > a,
#header .layout_layout5 li:hover > a,
#header .layout_layout5 .mm_columns_ul .mm_block_type_product .product-title > a:hover,
#header .layout_layout5 li > span.arrow:hover
#header .layout_layout5 li > a:hover,
#header .layout_layout5 .mm_menus_li.active > a,
.layout_layout5 .ets_mm_block_content .has-sub:hover > a:after,
#header .layout_layout5 .ets_mm_block_content .has-sub:hover > a:after{
  border-color: #F9B002;
}

/*layout 5*/
.layout_layout5 li:hover > a,
.layout_layout5 li > span.arrow:hover,
.layout_layout5 li > a:hover,
.layout_layout5 .mm_menus_li.active > a,
#header .layout_layout5 li:hover > a,
#header .layout_layout5 .mm_columns_ul .mm_block_type_product .product-title > a:hover,
#header .layout_layout5 li > span.arrow:hover
#header .layout_layout5 li > a:hover,
#header .layout_layout5 .mm_menus_li.active > a{color: #F9B002;}



@media (min-width: 768px){
  /*layout 1*/
  .layout_layout1 .mm_menus_li > a,
  #header .layout_layout1 .mm_menus_li > a{color: #ffffff;}
  .layout_layout1 .mm_menus_li > a:before{background-color: #ffffff;}


  /*layout 2*/
  .layout_layout2 .ets_mm_megamenu_content{background: #ffffff;}
  .layout_layout2 .mm_menus_li:hover > a,
  .layout_layout2 .mm_menus_li.active > a,
  #header .layout_layout2 .mm_menus_li:hover > a,
  #header .layout_layout2 .mm_menus_li.active > a{background-color: #ffffff;}



  /*layout 3*/
  .layout_layout3 .ets_mm_megamenu_content{background: #28abe3;}

  .layout_layout3 .mm_menus_li:hover > a,
  .layout_layout3 .mm_menus_li.active > a{background-color: #ffffff;}





  .mm_columns_ul .ets_mm_categories .has-sub:hover > a:after{
    border-color: #F9B002;
  }

  .layout_layout3 .mm_menus_li > .mm_columns_ul{
    background-color: #ffffff;
    border-color: #28abe3;
  }
  .layout_layout3 .mm_menus_li > .mm_columns_ul h4,
  .layout_layout3 .mm_menus_li > .mm_columns_ul h4 a,
  #header .layout_layout3 .mm_menus_li > .mm_columns_ul h4 a{
    color: #fff;
  }
  .layout_layout3.ets_mm_block_content .has-sub > a:after{
    border-top-color: #28abe3;
  }


  /*layout 4*/
  .layout_layout4 .ets_mm_megamenu_content {
    border-bottom-color: #ffffff;
  }
  .layout_layout4 .mm_menus_li:hover > a,
  .layout_layout4 .mm_menus_li.active > a,
  .layout_layout4 .mm_menus_li:hover > span,
  .layout_layout4 .mm_menus_li.active > span,
  #header .layout_layout4 .mm_menus_li:hover > a,
  #header .layout_layout4 .mm_menus_li.active > a,
  #header .layout_layout4 .mm_menus_li:hover > span,
  #header .layout_layout4 .mm_menus_li.active > span {
    background-color: #ffffff;
    color: #fff;
  }
}



@media only screen and (max-width: 767px){
  .ybc-menu-toggle,
  .transition_floating .close_menu,
  .transition_full .close_menu {
    background-color: #ffffff;
    color: #ffffff;
  }
  .ets_mm_megamenu .ets_mm_megamenu_content .mm_menus_ul .close_menu *{
    color: #ffffff !important;
  }
  .ets_mm_megamenu .ets_mm_megamenu_content .mm_menus_ul .close_menu .icon-bar{
    background-color: #ffffff !important;
  }
  .ets_mm_megamenu .mm_menus_back_icon{
    border-color: #ffffff;
  }
  .ybc-menu-toggle .icon-bar {
    background-color: #ffffff;
  }

  .mm_menus_li:hover > a,
  #header .mm_menus_li:hover > a{color: #F9B002;}
  .mm_menus_li:hover > .arrow:before{
    border-color: #F9B002;
  }

}
@media only screen and (min-width: 767px){
  #header .layout_layout5 .mm_menus_li.active > a,
  #header .layout_layout5 li.mm_menus_li:hover > a {
    color: #ffffff;
  }
  #header .layout_layout5 .mm_menus_li.not_show.active > a,
  #header .layout_layout5 li.mm_menus_li.not_show:hover > a {
    color: inherit;
  }

}

body{font-family: Poppins;}
h1,h2,h3,h4,h5,h6,.ybc-mm-price-row,.price,.product-price ,.h1,.h2,.h3,.h4,.h5,.h6,
                                    h1 a,h2 a,h3 a,h4 a,h5 a,h6 a,
                                    h1 span,h2 span,h3 span,h4 span,h5 span,h6 span{font-family: Montserrat;}p{font-family: Poppins;}
/**/
body.ybc-skin-blue_1{
  /*background: #F9B002!important;*/
}

body.ybc-skin-blue_1 *::-webkit-selection{
  background-color: #28abe3;
  color: #ffffff;
}

body.ybc-skin-blue_1 *::-ms-selection{
  background-color: #28abe3;
  color: #ffffff;
}

body.ybc-skin-blue_1 *::-moz-selection{
  background-color: #28abe3;
  color: #ffffff;
}

body.ybc-skin-blue_1 *::selection{
  background-color: #28abe3;
  color: #ffffff;
}


body.ybc-skin-blue_1 #blockcart-modal .product-name,
body.ybc-skin-blue_1 .nav-item .nav-separtor.active,
body.ybc-skin-blue_1 .dropdown:hover > a,
body.ybc-skin-blue_1 .contact_link_item i,
body.ybc-skin-blue_1 .nav .dropdown > a,
body.ybc-skin-blue_1 .ybc-widget-display-home .item-icon i,
body.ybc-skin-blue_1 .blockcart.cart-preview .ion-bag,
body.ybc-skin-blue_1 #footer .ybc-newsletter-popup .alert-success p span,
body.ybc-skin-blue_1 .wd-content-display-home .bt_purcha,
body.ybc-skin-blue_1 .ybc-widget-ybc-custom-1 .ybc-widget-title a,
body.ybc-skin-blue_1 .ybc-widget-ybc-custom-3 .ybc-widget-title a,
body.ybc-skin-blue_1 .bt_color,
body.ybc-skin-blue_1 .ybc_coppyright a,
body.ybc-skin-blue_1 #header .menu_cate .mm_menus_ul > li.view_more_menu > a:hover,
body.ybc-skin-blue_1 #header .menu_cate .mm_menus_ul > li.view_less_menu > a:hover{
  color: #28abe3;
}

body.ybc-skin-blue_1 .custom_theme span,
body.ybc-skin-blue_1 .mls_slides .mls_layer_type_front_text.main-color span{
  color: #28abe3 !important;
}


body.ybc-skin-blue_1 .ybc-widget-item-link:hover,
body.ybc-skin-blue_1 #blockcart-modal .modal-header,
body.ybc-skin-blue_1 .scroll_top.show_scroll,
body.ybc-skin-blue_1 .custom-radio input[type="radio"]:checked + span,
body.ybc-skin-blue_1 .owl-nav > div:hover,
body.ybc-skin-blue_1 .transition_floating .close_menu,
body.ybc-skin-blue_1 .transition_full .close_menu,
body.ybc-skin-blue_1 .mls_nav > div,
body.ybc-skin-blue_1 .ets_mm_megamenu.scroll_heading,
body.ybc-skin-blue_1 .menu_cat_content,
body.ybc-skin-blue_1 .product-actions .add-to-cart,
body.ybc-skin-blue_1 .mls_pag_button.active,
body.ybc-skin-blue_1 .ets_purchase_type_list input:checked + .product-thumbnail::before,
body.ybc-skin-blue_1.ybc-layout-layouthome2 .mls_slider_running,
body.ybc-skin-blue_1 .panel-product-w-custom .wishlist_button_extra:hover,
body.ybc-skin-blue_1 #footer .ybc-theme-panel-inner #ybc_tc_float_header li.active,
body.ybc-skin-blue_1 .product-flags .new span,
body.ybc-skin-blue_1 .add_to_cart_button .btn.btn-primary,
body.ybc-skin-blue_1 .wishlist,
body.ybc-skin-blue_1 .quick-view,
body.ybc-skin-blue_1 .cart-wishlist-checkout,
body.ybc-skin-blue_1 .contact-rich .block .icon{
  border-color: #28abe3;
  background-color: #28abe3;
}
body.ybc-skin-blue_1 .ybc-theme-panel-btn{
  border-left-color: #28abe3;
}

body.ybc-skin-blue_1 .form-control:focus {
  outline-color: #F9B002;
}



body.ybc-skin-blue_1 .mm_has_sub:hover > a:after,
body.ybc-skin-blue_1 .pagination a:hover,

body.ybc-skin-blue_1 .product-flags li.product-discount::before,
body.ybc-skin-blue_1 .ets-product-specific .discount-percentage::before,
body.ybc-skin-blue_1 .product_thumb_horizontal .js-qv-product-images img.selected,
body.ybc-skin-blue_1 .block_newsletter form input[type="text"]:focus,
body.ybc-skin-blue_1 .menu_cate .ets_mm_megamenu{
  border-color: #F9B002;
}
body.ybc-skin-blue_1 .cart-preview .cart-products-count{
  background-color: #F9B002
}
body.ybc-skin-blue_1 .search-widget form button[type="submit"]:hover,
body.ybc-skin-blue_1 .cart-wishlist-checkout:hover,
body.ybc-skin-blue_1 .btn-primary:hover,
body.ybc-skin-blue_1 #new_comment_form button:hover,
body.ybc-skin-blue_1 .pagination .current a,
body.ybc-skin-blue_1 .products-sort-order .select-list:hover,
body.ybc-skin-blue_1 .btn-secondary:hover,
body.ybc-skin-blue_1 .btn-tertiary:hover,
body.ybc-skin-blue_1 .quick-view:hover,
body.ybc-skin-blue_1 .discount-percentage,
body.ybc-skin-blue_1 .slick-prev:hover,
body.ybc-skin-blue_1 .block-categories-custom h3.block-categories-title,
body.ybc-skin-blue_1 .slick-next:hover,
body.ybc-skin-blue_1 .wishlist .addToWishlist:hover,
body.ybc-skin-blue_1 .search-widget form button[type="submit"],
body.ybc-skin-blue_1 a#wishlist_button:hover,
body.ybc-skin-blue_1 .wishlist:hover,
body.ybc-skin-blue_1 .quick-view:hover,
body.ybc-skin-blue_1 .add_to_cart_button .btn.btn-primary:hover,
body.ybc-skin-blue_1 .block_newsletter form .newsletter_submit,
body.ybc-skin-blue_1 .menu_cate .ybc-menu-button-toggle,
body.ybc-skin-blue_1 #blockcart-modal .btn-primary,
body.ybc-skin-blue_1 .btn-primary,body.ybc-skin-blue_1 .btn-secondary,body.ybc-skin-blue_1 .btn-tertiary{
  background-color: #F9B002;
  border-color: #F9B002;
}
body.ybc-skin-blue_1 .main-color,
body.ybc-skin-blue_1 a:not(.btn):hover,
body.ybc-skin-blue_1 #header .ybc-widget-ybc-custom-4 li a:hover,
body.ybc-skin-blue_1 a:hover,
body.ybc-skin-blue_1 .block-categories .collapse-icons .add:hover,
body.ybc-skin-blue_1 .block-categories .collapse-icons .remove:hover,
body.ybc-skin-blue_1 .dropdown:hover .expand-more,
body.ybc-skin-blue_1 .nav .dropdown:hover > a,
body.ybc-skin-blue_1 .ybc-widget-ybc-custom-1  .ybc-widget-title a:hover,
body.ybc-skin-blue_1 .product-price-and-shipping,
body.ybc-skin-blue_1 .product-prices div,
body.ybc-skin-blue_1 .category-top-menu-pos > .view > span,
body.ybc-skin-blue_1 .price.product-price,
body.ybc-skin-blue_1 .nav-item .nav-link.active,
body.ybc-skin-blue_1 .cart-total .value,
body.ybc-skin-blue_1 .user-info a:hover i,
body.ybc-skin-blue_1 .ybc-widget-display-home-content .ybc-widget-item-content:hover .item-icon i,
body.ybc-skin-blue_1.page-my-account #content .links a:hover i,
body.ybc-skin-blue_1 .contact_link_item a:hover i,
body.ybc-skin-blue_1 .toogle_nav_button .toogle_nav:hover,
body.ybc-skin-blue_1 .toogle_nav_content ul li:hover a,
body.ybc-skin-blue_1 .contact_link_item a,
body.ybc-skin-blue_1 .mls_slides .mls_slides_front span.color2,
body.ybc-skin-blue_1 .wd-content-display-home .bt_purcha:hover,
body.ybc-skin-blue_1 .ybc-widget-ybc-custom-1 .ybc-widget-subtitle,
body.ybc-skin-blue_1 #header .menu_cate .mm_menus_li > a:hover,
body.ybc-skin-blue_1 .menu_cate .mm_menus_ul > li.view_more_menu > a,
body.ybc-skin-blue_1 .menu_cate .mm_menus_ul > li.view_less_menu > a,
body.ybc-skin-blue_1 #wrapper .breadcrumb li:last-child a,
body.ybc-skin-blue_1 .comments_note div.star::after{
  color: #F9B002;
}

body.ybc-skin-blue_1 .contact_link_item .icon_svg svg{
  fill: #F9B002;
}
@media (max-width: 767px){
  body.ybc-skin-blue_1 .header-top{
    background-color: #28abe3
  }
}


body.ybc-skin-blue_1 .sale_bubble .mm_bubble_text,
body.ybc-skin-blue_1 .wd-content-display-home .sub_title,
body.ybc-skin-blue_1 .product-flags li.product-discount span{
  background-color: #2733ee !important;
  border-color: #ee3f22 !important;
}
body.ybc-skin-blue_1 .new_bubble .mm_bubble_text,
body.ybc-skin-blue_1 .mls_slides .msl_layer_front.main-color-btn:hover span{
  background-color: #F9B002 !important;
  border-color: #F9B002 !important;
}


body.ybc-skin-blue_1 .mls_slides .msl_layer_front.main-color-btn span{
  background-color: #28abe3 !important;
  border-color: #28abe3 !important;
}
body.ybc-skin-blue_1 .wishlist:hover,
body.ybc-skin-blue_1 .quick-view:hover,
body.ybc-skin-blue_1 .block-social li a:hover,
body.ybc-skin-blue_1 .social-sharing li a:hover{
  color: #ffffff !important;
}
body.ybc-skin-blue_1 #blockcart-modal .btn-secondary{
  background-color: #ffffff;
  border-color: #ffffff;
}

/**/
body.ybc-skin-blue_2{
  /*background: #ffbb00!important;*/
}

body.ybc-skin-blue_2 *::-webkit-selection{
  background-color: #007CB7;
  color: #ffffff;
}

body.ybc-skin-blue_2 *::-ms-selection{
  background-color: #007CB7;
  color: #ffffff;
}

body.ybc-skin-blue_2 *::-moz-selection{
  background-color: #007CB7;
  color: #ffffff;
}

body.ybc-skin-blue_2 *::selection{
  background-color: #007CB7;
  color: #ffffff;
}


body.ybc-skin-blue_2 #blockcart-modal .product-name,
body.ybc-skin-blue_2 .nav-item .nav-separtor.active,
body.ybc-skin-blue_2 .dropdown:hover > a,
body.ybc-skin-blue_2 .contact_link_item i,
body.ybc-skin-blue_2 .nav .dropdown > a,
body.ybc-skin-blue_2 .ybc-widget-display-home .item-icon i,
body.ybc-skin-blue_2 .blockcart.cart-preview .ion-bag,
body.ybc-skin-blue_2 #footer .ybc-newsletter-popup .alert-success p span,
body.ybc-skin-blue_2 .wd-content-display-home .bt_purcha,
body.ybc-skin-blue_2 .ybc-widget-ybc-custom-1 .ybc-widget-title a,
body.ybc-skin-blue_2 .ybc-widget-ybc-custom-3 .ybc-widget-title a,
body.ybc-skin-blue_2 .bt_color,
body.ybc-skin-blue_2 .ybc_coppyright a,
body.ybc-skin-blue_2 #header .menu_cate .mm_menus_ul > li.view_more_menu > a:hover,
body.ybc-skin-blue_2 #header .menu_cate .mm_menus_ul > li.view_less_menu > a:hover{
  color: #6e9ecf;
}

body.ybc-skin-blue_2 .custom_theme span,
body.ybc-skin-blue_2 .mls_slides .mls_layer_type_front_text.main-color span{
  color: #6e9ecf !important;
}


body.ybc-skin-blue_2 .ybc-widget-item-link:hover,
body.ybc-skin-blue_2 #blockcart-modal .modal-header,
body.ybc-skin-blue_2 .scroll_top.show_scroll,
body.ybc-skin-blue_2 .custom-radio input[type="radio"]:checked + span,
body.ybc-skin-blue_2 .owl-nav > div:hover,
body.ybc-skin-blue_2 .transition_floating .close_menu,
body.ybc-skin-blue_2 .transition_full .close_menu,
body.ybc-skin-blue_2 .mls_nav > div,
body.ybc-skin-blue_2 .ets_mm_megamenu.scroll_heading,
body.ybc-skin-blue_2 .menu_cat_content,
body.ybc-skin-blue_2 .product-actions .add-to-cart,
body.ybc-skin-blue_2 .mls_pag_button.active,
body.ybc-skin-blue_2 .ets_purchase_type_list input:checked + .product-thumbnail::before,
body.ybc-skin-blue_2.ybc-layout-layouthome2 .mls_slider_running,
body.ybc-skin-blue_2 .panel-product-w-custom .wishlist_button_extra:hover,
body.ybc-skin-blue_2 #footer .ybc-theme-panel-inner #ybc_tc_float_header li.active,
body.ybc-skin-blue_2 .product-flags .new span,
body.ybc-skin-blue_2 .add_to_cart_button .btn.btn-primary,
body.ybc-skin-blue_2 .wishlist,
body.ybc-skin-blue_2 .quick-view,
body.ybc-skin-blue_2 .cart-wishlist-checkout,
body.ybc-skin-blue_2 .contact-rich .block .icon{
  border-color: #6e9ecf;
  background-color: #6e9ecf;
}
body.ybc-skin-blue_2 .ybc-theme-panel-btn{
  border-left-color: #6e9ecf;
}

body.ybc-skin-blue_2 .form-control:focus {
  outline-color: #ffbb00;
}



body.ybc-skin-blue_2 .mm_has_sub:hover > a:after,
body.ybc-skin-blue_2 .pagination a:hover,

body.ybc-skin-blue_2 .product-flags li.product-discount::before,
body.ybc-skin-blue_2 .ets-product-specific .discount-percentage::before,
body.ybc-skin-blue_2 .product_thumb_horizontal .js-qv-product-images img.selected,
body.ybc-skin-blue_2 .block_newsletter form input[type="text"]:focus,
body.ybc-skin-blue_2 .menu_cate .ets_mm_megamenu{
  border-color: #ffbb00;
}
body.ybc-skin-blue_2 .cart-preview .cart-products-count{
  background-color: #ffbb00
}
body.ybc-skin-blue_2 .search-widget form button[type="submit"]:hover,
body.ybc-skin-blue_2 .cart-wishlist-checkout:hover,
body.ybc-skin-blue_2 .btn-primary:hover,
body.ybc-skin-blue_2 #new_comment_form button:hover,
body.ybc-skin-blue_2 .pagination .current a,
body.ybc-skin-blue_2 .products-sort-order .select-list:hover,
body.ybc-skin-blue_2 .btn-secondary:hover,
body.ybc-skin-blue_2 .btn-tertiary:hover,
body.ybc-skin-blue_2 .quick-view:hover,
body.ybc-skin-blue_2 .discount-percentage,
body.ybc-skin-blue_2 .slick-prev:hover,
body.ybc-skin-blue_2 .block-categories-custom h3.block-categories-title,
body.ybc-skin-blue_2 .slick-next:hover,
body.ybc-skin-blue_2 .wishlist .addToWishlist:hover,
body.ybc-skin-blue_2 .search-widget form button[type="submit"],
body.ybc-skin-blue_2 a#wishlist_button:hover,
body.ybc-skin-blue_2 .wishlist:hover,
body.ybc-skin-blue_2 .quick-view:hover,
body.ybc-skin-blue_2 .add_to_cart_button .btn.btn-primary:hover,
body.ybc-skin-blue_2 .block_newsletter form .newsletter_submit,
body.ybc-skin-blue_2 .menu_cate .ybc-menu-button-toggle,
body.ybc-skin-blue_2 #blockcart-modal .btn-primary,
body.ybc-skin-blue_2 .btn-primary,body.ybc-skin-blue_2 .btn-secondary,body.ybc-skin-blue_2 .btn-tertiary{
  background-color: #ffbb00;
  border-color: #ffbb00;
}
body.ybc-skin-blue_2 .main-color,
body.ybc-skin-blue_2 a:not(.btn):hover,
body.ybc-skin-blue_2 #header .ybc-widget-ybc-custom-4 li a:hover,
body.ybc-skin-blue_2 a:hover,
body.ybc-skin-blue_2 .block-categories .collapse-icons .add:hover,
body.ybc-skin-blue_2 .block-categories .collapse-icons .remove:hover,
body.ybc-skin-blue_2 .dropdown:hover .expand-more,
body.ybc-skin-blue_2 .nav .dropdown:hover > a,
body.ybc-skin-blue_2 .ybc-widget-ybc-custom-1  .ybc-widget-title a:hover,
body.ybc-skin-blue_2 .product-price-and-shipping,
body.ybc-skin-blue_2 .product-prices div,
body.ybc-skin-blue_2 .category-top-menu-pos > .view > span,
body.ybc-skin-blue_2 .price.product-price,
body.ybc-skin-blue_2 .nav-item .nav-link.active,
body.ybc-skin-blue_2 .cart-total .value,
body.ybc-skin-blue_2 .user-info a:hover i,
body.ybc-skin-blue_2 .ybc-widget-display-home-content .ybc-widget-item-content:hover .item-icon i,
body.ybc-skin-blue_2.page-my-account #content .links a:hover i,
body.ybc-skin-blue_2 .contact_link_item a:hover i,
body.ybc-skin-blue_2 .toogle_nav_button .toogle_nav:hover,
body.ybc-skin-blue_2 .toogle_nav_content ul li:hover a,
body.ybc-skin-blue_2 .contact_link_item a,
body.ybc-skin-blue_2 .mls_slides .mls_slides_front span.color2,
body.ybc-skin-blue_2 .wd-content-display-home .bt_purcha:hover,
body.ybc-skin-blue_2 .ybc-widget-ybc-custom-1 .ybc-widget-subtitle,
body.ybc-skin-blue_2 #header .menu_cate .mm_menus_li > a:hover,
body.ybc-skin-blue_2 .menu_cate .mm_menus_ul > li.view_more_menu > a,
body.ybc-skin-blue_2 .menu_cate .mm_menus_ul > li.view_less_menu > a,
body.ybc-skin-blue_2 #wrapper .breadcrumb li:last-child a,
body.ybc-skin-blue_2 .comments_note div.star::after{
  color: #ffbb00;
}

body.ybc-skin-blue_2 .contact_link_item .icon_svg svg{
  fill: #ffbb00;
}
@media (max-width: 767px){
  body.ybc-skin-blue_2 .header-top{
    background-color: #6e9ecf
  }
}



body.ybc-skin-blue_2 .sale_bubble .mm_bubble_text,
body.ybc-skin-blue_2 .wd-content-display-home .sub_title,
body.ybc-skin-blue_2 .product-flags li.product-discount span{
  background-color: #007CB7 !important;
  border-color: #007CB7 !important;
}
body.ybc-skin-blue_2 .new_bubble .mm_bubble_text,
body.ybc-skin-blue_2 .mls_slides .msl_layer_front.main-color-btn:hover span{
  background-color: #ffbb00 !important;
  border-color: #ffbb00 !important;
}


body.ybc-skin-blue_2 .mls_slides .msl_layer_front.main-color-btn span{
  background-color: #6e9ecf !important;
  border-color: #6e9ecf !important;
}
body.ybc-skin-blue_2 .wishlist:hover,
body.ybc-skin-blue_2 .quick-view:hover,
body.ybc-skin-blue_2 .block-social li a:hover,
body.ybc-skin-blue_2 .social-sharing li a:hover{
  color: #ffffff !important;
}
body.ybc-skin-blue_2 #blockcart-modal .btn-secondary{
  background-color: #ffffff;
  border-color: #ffffff;
}

/**/
body.ybc-skin-blue_3{
  /*background: #007CB7!important;*/
}

body.ybc-skin-blue_3 *::-webkit-selection{
  background-color: #73c5e1;
  color: #ffffff;
}

body.ybc-skin-blue_3 *::-ms-selection{
  background-color: #73c5e1;
  color: #ffffff;
}

body.ybc-skin-blue_3 *::-moz-selection{
  background-color: #73c5e1;
  color: #ffffff;
}

body.ybc-skin-blue_3 *::selection{
  background-color: #73c5e1;
  color: #ffffff;
}


body.ybc-skin-blue_3 #blockcart-modal .product-name,
body.ybc-skin-blue_3 .nav-item .nav-separtor.active,
body.ybc-skin-blue_3 .dropdown:hover > a,
body.ybc-skin-blue_3 .contact_link_item i,
body.ybc-skin-blue_3 .nav .dropdown > a,
body.ybc-skin-blue_3 .ybc-widget-display-home .item-icon i,
body.ybc-skin-blue_3 .blockcart.cart-preview .ion-bag,
body.ybc-skin-blue_3 #footer .ybc-newsletter-popup .alert-success p span,
body.ybc-skin-blue_3 .wd-content-display-home .bt_purcha,
body.ybc-skin-blue_3 .ybc-widget-ybc-custom-1 .ybc-widget-title a,
body.ybc-skin-blue_3 .ybc-widget-ybc-custom-3 .ybc-widget-title a,
body.ybc-skin-blue_3 .bt_color,
body.ybc-skin-blue_3 .ybc_coppyright a,
body.ybc-skin-blue_3 #header .menu_cate .mm_menus_ul > li.view_more_menu > a:hover,
body.ybc-skin-blue_3 #header .menu_cate .mm_menus_ul > li.view_less_menu > a:hover{
  color: #73c5e1;
}

body.ybc-skin-blue_3 .custom_theme span,
body.ybc-skin-blue_3 .mls_slides .mls_layer_type_front_text.main-color span{
  color: #73c5e1 !important;
}


body.ybc-skin-blue_3 .ybc-widget-item-link:hover,
body.ybc-skin-blue_3 #blockcart-modal .modal-header,
body.ybc-skin-blue_3 .scroll_top.show_scroll,
body.ybc-skin-blue_3 .custom-radio input[type="radio"]:checked + span,
body.ybc-skin-blue_3 .owl-nav > div:hover,
body.ybc-skin-blue_3 .transition_floating .close_menu,
body.ybc-skin-blue_3 .transition_full .close_menu,
body.ybc-skin-blue_3 .mls_nav > div,
body.ybc-skin-blue_3 .ets_mm_megamenu.scroll_heading,
body.ybc-skin-blue_3 .menu_cat_content,
body.ybc-skin-blue_3 .product-actions .add-to-cart,
body.ybc-skin-blue_3 .mls_pag_button.active,
body.ybc-skin-blue_3 .ets_purchase_type_list input:checked + .product-thumbnail::before,
body.ybc-skin-blue_3.ybc-layout-layouthome2 .mls_slider_running,
body.ybc-skin-blue_3 .panel-product-w-custom .wishlist_button_extra:hover,
body.ybc-skin-blue_3 #footer .ybc-theme-panel-inner #ybc_tc_float_header li.active,
body.ybc-skin-blue_3 .product-flags .new span,
body.ybc-skin-blue_3 .add_to_cart_button .btn.btn-primary,
body.ybc-skin-blue_3 .wishlist,
body.ybc-skin-blue_3 .quick-view,
body.ybc-skin-blue_3 .cart-wishlist-checkout,
body.ybc-skin-blue_3 .contact-rich .block .icon{
  border-color: #73c5e1;
  background-color: #73c5e1;
}
body.ybc-skin-blue_3 .ybc-theme-panel-btn{
  border-left-color: #73c5e1;
}

body.ybc-skin-blue_3 .form-control:focus {
  outline-color: #007CB7;
}



body.ybc-skin-blue_3 .mm_has_sub:hover > a:after,
body.ybc-skin-blue_3 .pagination a:hover,

body.ybc-skin-blue_3 .product-flags li.product-discount::before,
body.ybc-skin-blue_3 .ets-product-specific .discount-percentage::before,
body.ybc-skin-blue_3 .product_thumb_horizontal .js-qv-product-images img.selected,
body.ybc-skin-blue_3 .block_newsletter form input[type="text"]:focus,
body.ybc-skin-blue_3 .menu_cate .ets_mm_megamenu{
  border-color: #007CB7;
}
body.ybc-skin-blue_3 .cart-preview .cart-products-count{
  background-color: #007CB7
}
body.ybc-skin-blue_3 .search-widget form button[type="submit"]:hover,
body.ybc-skin-blue_3 .cart-wishlist-checkout:hover,
body.ybc-skin-blue_3 .btn-primary:hover,
body.ybc-skin-blue_3 #new_comment_form button:hover,
body.ybc-skin-blue_3 .pagination .current a,
body.ybc-skin-blue_3 .products-sort-order .select-list:hover,
body.ybc-skin-blue_3 .btn-secondary:hover,
body.ybc-skin-blue_3 .btn-tertiary:hover,
body.ybc-skin-blue_3 .quick-view:hover,
body.ybc-skin-blue_3 .discount-percentage,
body.ybc-skin-blue_3 .slick-prev:hover,
body.ybc-skin-blue_3 .block-categories-custom h3.block-categories-title,
body.ybc-skin-blue_3 .slick-next:hover,
body.ybc-skin-blue_3 .wishlist .addToWishlist:hover,
body.ybc-skin-blue_3 .search-widget form button[type="submit"],
body.ybc-skin-blue_3 a#wishlist_button:hover,
body.ybc-skin-blue_3 .wishlist:hover,
body.ybc-skin-blue_3 .quick-view:hover,
body.ybc-skin-blue_3 .add_to_cart_button .btn.btn-primary:hover,
body.ybc-skin-blue_3 .block_newsletter form .newsletter_submit,
body.ybc-skin-blue_3 .menu_cate .ybc-menu-button-toggle,
body.ybc-skin-blue_3 #blockcart-modal .btn-primary,
body.ybc-skin-blue_3 .btn-primary,body.ybc-skin-blue_3 .btn-secondary,body.ybc-skin-blue_3 .btn-tertiary{
  background-color: #007CB7;
  border-color: #007CB7;
}
body.ybc-skin-blue_3 .main-color,
body.ybc-skin-blue_3 a:not(.btn):hover,
body.ybc-skin-blue_3 #header .ybc-widget-ybc-custom-4 li a:hover,
body.ybc-skin-blue_3 a:hover,
body.ybc-skin-blue_3 .block-categories .collapse-icons .add:hover,
body.ybc-skin-blue_3 .block-categories .collapse-icons .remove:hover,
body.ybc-skin-blue_3 .dropdown:hover .expand-more,
body.ybc-skin-blue_3 .nav .dropdown:hover > a,
body.ybc-skin-blue_3 .ybc-widget-ybc-custom-1  .ybc-widget-title a:hover,
body.ybc-skin-blue_3 .product-price-and-shipping,
body.ybc-skin-blue_3 .product-prices div,
body.ybc-skin-blue_3 .category-top-menu-pos > .view > span,
body.ybc-skin-blue_3 .price.product-price,
body.ybc-skin-blue_3 .nav-item .nav-link.active,
body.ybc-skin-blue_3 .cart-total .value,
body.ybc-skin-blue_3 .user-info a:hover i,
body.ybc-skin-blue_3 .ybc-widget-display-home-content .ybc-widget-item-content:hover .item-icon i,
body.ybc-skin-blue_3.page-my-account #content .links a:hover i,
body.ybc-skin-blue_3 .contact_link_item a:hover i,
body.ybc-skin-blue_3 .toogle_nav_button .toogle_nav:hover,
body.ybc-skin-blue_3 .toogle_nav_content ul li:hover a,
body.ybc-skin-blue_3 .contact_link_item a,
body.ybc-skin-blue_3 .mls_slides .mls_slides_front span.color2,
body.ybc-skin-blue_3 .wd-content-display-home .bt_purcha:hover,
body.ybc-skin-blue_3 .ybc-widget-ybc-custom-1 .ybc-widget-subtitle,
body.ybc-skin-blue_3 #header .menu_cate .mm_menus_li > a:hover,
body.ybc-skin-blue_3 .menu_cate .mm_menus_ul > li.view_more_menu > a,
body.ybc-skin-blue_3 .menu_cate .mm_menus_ul > li.view_less_menu > a,
body.ybc-skin-blue_3 #wrapper .breadcrumb li:last-child a,
body.ybc-skin-blue_3 .comments_note div.star::after{
  color: #007CB7;
}

body.ybc-skin-blue_3 .contact_link_item .icon_svg svg{
  fill: #007CB7;
}
@media (max-width: 767px){
  body.ybc-skin-blue_3 .header-top{
    background-color: #73c5e1
  }
}



body.ybc-skin-blue_3 .sale_bubble .mm_bubble_text,
body.ybc-skin-blue_3 .wd-content-display-home .sub_title,
body.ybc-skin-blue_3 .product-flags li.product-discount span{
  background-color: #ffd041 !important;
  border-color: #ffd041 !important;
}
body.ybc-skin-blue_3 .new_bubble .mm_bubble_text,
body.ybc-skin-blue_3 .mls_slides .msl_layer_front.main-color-btn:hover span{
  background-color: #007CB7 !important;
  border-color: #007CB7 !important;
}


body.ybc-skin-blue_3 .mls_slides .msl_layer_front.main-color-btn span{
  background-color: #73c5e1 !important;
  border-color: #73c5e1 !important;
}
body.ybc-skin-blue_3 .wishlist:hover,
body.ybc-skin-blue_3 .quick-view:hover,
body.ybc-skin-blue_3 .block-social li a:hover,
body.ybc-skin-blue_3 .social-sharing li a:hover{
  color: #ffffff !important;
}
body.ybc-skin-blue_3 #blockcart-modal .btn-secondary{
  background-color: #ffffff;
  border-color: #ffffff;
}

/**/
body.ybc-skin-cyan{
  /*background: #007CB7!important;*/
}

body.ybc-skin-cyan *::-webkit-selection{
  background-color: #00ccd6;
  color: #ffffff;
}

body.ybc-skin-cyan *::-ms-selection{
  background-color: #00ccd6;
  color: #ffffff;
}

body.ybc-skin-cyan *::-moz-selection{
  background-color: #00ccd6;
  color: #ffffff;
}

body.ybc-skin-cyan *::selection{
  background-color: #00ccd6;
  color: #ffffff;
}


body.ybc-skin-cyan #blockcart-modal .product-name,
body.ybc-skin-cyan .nav-item .nav-separtor.active,
body.ybc-skin-cyan .dropdown:hover > a,
body.ybc-skin-cyan .contact_link_item i,
body.ybc-skin-cyan .nav .dropdown > a,
body.ybc-skin-cyan .ybc-widget-display-home .item-icon i,
body.ybc-skin-cyan .blockcart.cart-preview .ion-bag,
body.ybc-skin-cyan #footer .ybc-newsletter-popup .alert-success p span,
body.ybc-skin-cyan .wd-content-display-home .bt_purcha,
body.ybc-skin-cyan .ybc-widget-ybc-custom-1 .ybc-widget-title a,
body.ybc-skin-cyan .ybc-widget-ybc-custom-3 .ybc-widget-title a,
body.ybc-skin-cyan .bt_color,
body.ybc-skin-cyan .ybc_coppyright a,
body.ybc-skin-cyan #header .menu_cate .mm_menus_ul > li.view_more_menu > a:hover,
body.ybc-skin-cyan #header .menu_cate .mm_menus_ul > li.view_less_menu > a:hover{
  color: #00ccd6;
}

body.ybc-skin-cyan .custom_theme span,
body.ybc-skin-cyan .mls_slides .mls_layer_type_front_text.main-color span{
  color: #00ccd6 !important;
}


body.ybc-skin-cyan .ybc-widget-item-link:hover,
body.ybc-skin-cyan #blockcart-modal .modal-header,
body.ybc-skin-cyan .scroll_top.show_scroll,
body.ybc-skin-cyan .custom-radio input[type="radio"]:checked + span,
body.ybc-skin-cyan .owl-nav > div:hover,
body.ybc-skin-cyan .transition_floating .close_menu,
body.ybc-skin-cyan .transition_full .close_menu,
body.ybc-skin-cyan .mls_nav > div,
body.ybc-skin-cyan .ets_mm_megamenu.scroll_heading,
body.ybc-skin-cyan .menu_cat_content,
body.ybc-skin-cyan .product-actions .add-to-cart,
body.ybc-skin-cyan .mls_pag_button.active,
body.ybc-skin-cyan .ets_purchase_type_list input:checked + .product-thumbnail::before,
body.ybc-skin-cyan.ybc-layout-layouthome2 .mls_slider_running,
body.ybc-skin-cyan .panel-product-w-custom .wishlist_button_extra:hover,
body.ybc-skin-cyan #footer .ybc-theme-panel-inner #ybc_tc_float_header li.active,
body.ybc-skin-cyan .product-flags .new span,
body.ybc-skin-cyan .add_to_cart_button .btn.btn-primary,
body.ybc-skin-cyan .wishlist,
body.ybc-skin-cyan .quick-view,
body.ybc-skin-cyan .cart-wishlist-checkout,
body.ybc-skin-cyan .contact-rich .block .icon{
  border-color: #00ccd6;
  background-color: #00ccd6;
}
body.ybc-skin-cyan .ybc-theme-panel-btn{
  border-left-color: #00ccd6;
}

body.ybc-skin-cyan .form-control:focus {
  outline-color: #007CB7;
}



body.ybc-skin-cyan .mm_has_sub:hover > a:after,
body.ybc-skin-cyan .pagination a:hover,

body.ybc-skin-cyan .product-flags li.product-discount::before,
body.ybc-skin-cyan .ets-product-specific .discount-percentage::before,
body.ybc-skin-cyan .product_thumb_horizontal .js-qv-product-images img.selected,
body.ybc-skin-cyan .block_newsletter form input[type="text"]:focus,
body.ybc-skin-cyan .menu_cate .ets_mm_megamenu{
  border-color: #007CB7;
}
body.ybc-skin-cyan .cart-preview .cart-products-count{
  background-color: #007CB7
}
body.ybc-skin-cyan .search-widget form button[type="submit"]:hover,
body.ybc-skin-cyan .cart-wishlist-checkout:hover,
body.ybc-skin-cyan .btn-primary:hover,
body.ybc-skin-cyan #new_comment_form button:hover,
body.ybc-skin-cyan .pagination .current a,
body.ybc-skin-cyan .products-sort-order .select-list:hover,
body.ybc-skin-cyan .btn-secondary:hover,
body.ybc-skin-cyan .btn-tertiary:hover,
body.ybc-skin-cyan .quick-view:hover,
body.ybc-skin-cyan .discount-percentage,
body.ybc-skin-cyan .slick-prev:hover,
body.ybc-skin-cyan .block-categories-custom h3.block-categories-title,
body.ybc-skin-cyan .slick-next:hover,
body.ybc-skin-cyan .wishlist .addToWishlist:hover,
body.ybc-skin-cyan .search-widget form button[type="submit"],
body.ybc-skin-cyan a#wishlist_button:hover,
body.ybc-skin-cyan .wishlist:hover,
body.ybc-skin-cyan .quick-view:hover,
body.ybc-skin-cyan .add_to_cart_button .btn.btn-primary:hover,
body.ybc-skin-cyan .block_newsletter form .newsletter_submit,
body.ybc-skin-cyan .menu_cate .ybc-menu-button-toggle,
body.ybc-skin-cyan #blockcart-modal .btn-primary,
body.ybc-skin-cyan .btn-primary,body.ybc-skin-cyan .btn-secondary,body.ybc-skin-cyan .btn-tertiary{
  background-color: #007CB7;
  border-color: #007CB7;
}
body.ybc-skin-cyan .main-color,
body.ybc-skin-cyan a:not(.btn):hover,
body.ybc-skin-cyan #header .ybc-widget-ybc-custom-4 li a:hover,
body.ybc-skin-cyan a:hover,
body.ybc-skin-cyan .block-categories .collapse-icons .add:hover,
body.ybc-skin-cyan .block-categories .collapse-icons .remove:hover,
body.ybc-skin-cyan .dropdown:hover .expand-more,
body.ybc-skin-cyan .nav .dropdown:hover > a,
body.ybc-skin-cyan .ybc-widget-ybc-custom-1  .ybc-widget-title a:hover,
body.ybc-skin-cyan .product-price-and-shipping,
body.ybc-skin-cyan .product-prices div,
body.ybc-skin-cyan .category-top-menu-pos > .view > span,
body.ybc-skin-cyan .price.product-price,
body.ybc-skin-cyan .nav-item .nav-link.active,
body.ybc-skin-cyan .cart-total .value,
body.ybc-skin-cyan .user-info a:hover i,
body.ybc-skin-cyan .ybc-widget-display-home-content .ybc-widget-item-content:hover .item-icon i,
body.ybc-skin-cyan.page-my-account #content .links a:hover i,
body.ybc-skin-cyan .contact_link_item a:hover i,
body.ybc-skin-cyan .toogle_nav_button .toogle_nav:hover,
body.ybc-skin-cyan .toogle_nav_content ul li:hover a,
body.ybc-skin-cyan .contact_link_item a,
body.ybc-skin-cyan .mls_slides .mls_slides_front span.color2,
body.ybc-skin-cyan .wd-content-display-home .bt_purcha:hover,
body.ybc-skin-cyan .ybc-widget-ybc-custom-1 .ybc-widget-subtitle,
body.ybc-skin-cyan #header .menu_cate .mm_menus_li > a:hover,
body.ybc-skin-cyan .menu_cate .mm_menus_ul > li.view_more_menu > a,
body.ybc-skin-cyan .menu_cate .mm_menus_ul > li.view_less_menu > a,
body.ybc-skin-cyan #wrapper .breadcrumb li:last-child a,
body.ybc-skin-cyan .comments_note div.star::after{
  color: #007CB7;
}

body.ybc-skin-cyan .contact_link_item .icon_svg svg{
  fill: #007CB7;
}
@media (max-width: 767px){
  body.ybc-skin-cyan .header-top{
    background-color: #00ccd6
  }
}



body.ybc-skin-cyan .sale_bubble .mm_bubble_text,
body.ybc-skin-cyan .wd-content-display-home .sub_title,
body.ybc-skin-cyan .product-flags li.product-discount span{
  background-color: #ff4c65 !important;
  border-color: #ff4c65 !important;
}
body.ybc-skin-cyan .new_bubble .mm_bubble_text,
body.ybc-skin-cyan .mls_slides .msl_layer_front.main-color-btn:hover span{
  background-color: #007CB7 !important;
  border-color: #007CB7 !important;
}


body.ybc-skin-cyan .mls_slides .msl_layer_front.main-color-btn span{
  background-color: #00ccd6 !important;
  border-color: #00ccd6 !important;
}
body.ybc-skin-cyan .wishlist:hover,
body.ybc-skin-cyan .quick-view:hover,
body.ybc-skin-cyan .block-social li a:hover,
body.ybc-skin-cyan .social-sharing li a:hover{
  color: #ffffff !important;
}
body.ybc-skin-cyan #blockcart-modal .btn-secondary{
  background-color: #ffffff;
  border-color: #ffffff;
}

/**/
body.ybc-skin-green_1{
  /*background: #F8961D!important;*/
}

body.ybc-skin-green_1 *::-webkit-selection{
  background-color: #50BE07;
  color: #ffffff;
}

body.ybc-skin-green_1 *::-ms-selection{
  background-color: #50BE07;
  color: #ffffff;
}

body.ybc-skin-green_1 *::-moz-selection{
  background-color: #50BE07;
  color: #ffffff;
}

body.ybc-skin-green_1 *::selection{
  background-color: #50BE07;
  color: #ffffff;
}


body.ybc-skin-green_1 #blockcart-modal .product-name,
body.ybc-skin-green_1 .nav-item .nav-separtor.active,
body.ybc-skin-green_1 .dropdown:hover > a,
body.ybc-skin-green_1 .contact_link_item i,
body.ybc-skin-green_1 .nav .dropdown > a,
body.ybc-skin-green_1 .ybc-widget-display-home .item-icon i,
body.ybc-skin-green_1 .blockcart.cart-preview .ion-bag,
body.ybc-skin-green_1 #footer .ybc-newsletter-popup .alert-success p span,
body.ybc-skin-green_1 .wd-content-display-home .bt_purcha,
body.ybc-skin-green_1 .ybc-widget-ybc-custom-1 .ybc-widget-title a,
body.ybc-skin-green_1 .ybc-widget-ybc-custom-3 .ybc-widget-title a,
body.ybc-skin-green_1 .bt_color,
body.ybc-skin-green_1 .ybc_coppyright a,
body.ybc-skin-green_1 #header .menu_cate .mm_menus_ul > li.view_more_menu > a:hover,
body.ybc-skin-green_1 #header .menu_cate .mm_menus_ul > li.view_less_menu > a:hover{
  color: #50BE07;
}

body.ybc-skin-green_1 .custom_theme span,
body.ybc-skin-green_1 .mls_slides .mls_layer_type_front_text.main-color span{
  color: #50BE07 !important;
}


body.ybc-skin-green_1 .ybc-widget-item-link:hover,
body.ybc-skin-green_1 #blockcart-modal .modal-header,
body.ybc-skin-green_1 .scroll_top.show_scroll,
body.ybc-skin-green_1 .custom-radio input[type="radio"]:checked + span,
body.ybc-skin-green_1 .owl-nav > div:hover,
body.ybc-skin-green_1 .transition_floating .close_menu,
body.ybc-skin-green_1 .transition_full .close_menu,
body.ybc-skin-green_1 .mls_nav > div,
body.ybc-skin-green_1 .ets_mm_megamenu.scroll_heading,
body.ybc-skin-green_1 .menu_cat_content,
body.ybc-skin-green_1 .product-actions .add-to-cart,
body.ybc-skin-green_1 .mls_pag_button.active,
body.ybc-skin-green_1 .ets_purchase_type_list input:checked + .product-thumbnail::before,
body.ybc-skin-green_1.ybc-layout-layouthome2 .mls_slider_running,
body.ybc-skin-green_1 .panel-product-w-custom .wishlist_button_extra:hover,
body.ybc-skin-green_1 #footer .ybc-theme-panel-inner #ybc_tc_float_header li.active,
body.ybc-skin-green_1 .product-flags .new span,
body.ybc-skin-green_1 .add_to_cart_button .btn.btn-primary,
body.ybc-skin-green_1 .wishlist,
body.ybc-skin-green_1 .quick-view,
body.ybc-skin-green_1 .cart-wishlist-checkout,
body.ybc-skin-green_1 .contact-rich .block .icon{
  border-color: #50BE07;
  background-color: #50BE07;
}
body.ybc-skin-green_1 .ybc-theme-panel-btn{
  border-left-color: #50BE07;
}

body.ybc-skin-green_1 .form-control:focus {
  outline-color: #F8961D;
}



body.ybc-skin-green_1 .mm_has_sub:hover > a:after,
body.ybc-skin-green_1 .pagination a:hover,

body.ybc-skin-green_1 .product-flags li.product-discount::before,
body.ybc-skin-green_1 .ets-product-specific .discount-percentage::before,
body.ybc-skin-green_1 .product_thumb_horizontal .js-qv-product-images img.selected,
body.ybc-skin-green_1 .block_newsletter form input[type="text"]:focus,
body.ybc-skin-green_1 .menu_cate .ets_mm_megamenu{
  border-color: #F8961D;
}
body.ybc-skin-green_1 .cart-preview .cart-products-count{
  background-color: #F8961D
}
body.ybc-skin-green_1 .search-widget form button[type="submit"]:hover,
body.ybc-skin-green_1 .cart-wishlist-checkout:hover,
body.ybc-skin-green_1 .btn-primary:hover,
body.ybc-skin-green_1 #new_comment_form button:hover,
body.ybc-skin-green_1 .pagination .current a,
body.ybc-skin-green_1 .products-sort-order .select-list:hover,
body.ybc-skin-green_1 .btn-secondary:hover,
body.ybc-skin-green_1 .btn-tertiary:hover,
body.ybc-skin-green_1 .quick-view:hover,
body.ybc-skin-green_1 .discount-percentage,
body.ybc-skin-green_1 .slick-prev:hover,
body.ybc-skin-green_1 .block-categories-custom h3.block-categories-title,
body.ybc-skin-green_1 .slick-next:hover,
body.ybc-skin-green_1 .wishlist .addToWishlist:hover,
body.ybc-skin-green_1 .search-widget form button[type="submit"],
body.ybc-skin-green_1 a#wishlist_button:hover,
body.ybc-skin-green_1 .wishlist:hover,
body.ybc-skin-green_1 .quick-view:hover,
body.ybc-skin-green_1 .add_to_cart_button .btn.btn-primary:hover,
body.ybc-skin-green_1 .block_newsletter form .newsletter_submit,
body.ybc-skin-green_1 .menu_cate .ybc-menu-button-toggle,
body.ybc-skin-green_1 #blockcart-modal .btn-primary,
body.ybc-skin-green_1 .btn-primary,body.ybc-skin-green_1 .btn-secondary,body.ybc-skin-green_1 .btn-tertiary{
  background-color: #F8961D;
  border-color: #F8961D;
}
body.ybc-skin-green_1 .main-color,
body.ybc-skin-green_1 a:not(.btn):hover,
body.ybc-skin-green_1 #header .ybc-widget-ybc-custom-4 li a:hover,
body.ybc-skin-green_1 a:hover,
body.ybc-skin-green_1 .block-categories .collapse-icons .add:hover,
body.ybc-skin-green_1 .block-categories .collapse-icons .remove:hover,
body.ybc-skin-green_1 .dropdown:hover .expand-more,
body.ybc-skin-green_1 .nav .dropdown:hover > a,
body.ybc-skin-green_1 .ybc-widget-ybc-custom-1  .ybc-widget-title a:hover,
body.ybc-skin-green_1 .product-price-and-shipping,
body.ybc-skin-green_1 .product-prices div,
body.ybc-skin-green_1 .category-top-menu-pos > .view > span,
body.ybc-skin-green_1 .price.product-price,
body.ybc-skin-green_1 .nav-item .nav-link.active,
body.ybc-skin-green_1 .cart-total .value,
body.ybc-skin-green_1 .user-info a:hover i,
body.ybc-skin-green_1 .ybc-widget-display-home-content .ybc-widget-item-content:hover .item-icon i,
body.ybc-skin-green_1.page-my-account #content .links a:hover i,
body.ybc-skin-green_1 .contact_link_item a:hover i,
body.ybc-skin-green_1 .toogle_nav_button .toogle_nav:hover,
body.ybc-skin-green_1 .toogle_nav_content ul li:hover a,
body.ybc-skin-green_1 .contact_link_item a,
body.ybc-skin-green_1 .mls_slides .mls_slides_front span.color2,
body.ybc-skin-green_1 .wd-content-display-home .bt_purcha:hover,
body.ybc-skin-green_1 .ybc-widget-ybc-custom-1 .ybc-widget-subtitle,
body.ybc-skin-green_1 #header .menu_cate .mm_menus_li > a:hover,
body.ybc-skin-green_1 .menu_cate .mm_menus_ul > li.view_more_menu > a,
body.ybc-skin-green_1 .menu_cate .mm_menus_ul > li.view_less_menu > a,
body.ybc-skin-green_1 #wrapper .breadcrumb li:last-child a,
body.ybc-skin-green_1 .comments_note div.star::after{
  color: #F8961D;
}

body.ybc-skin-green_1 .contact_link_item .icon_svg svg{
  fill: #F8961D;
}
@media (max-width: 767px){
  body.ybc-skin-green_1 .header-top{
    background-color: #50BE07
  }
}



body.ybc-skin-green_1 .sale_bubble .mm_bubble_text,
body.ybc-skin-green_1 .wd-content-display-home .sub_title,
body.ybc-skin-green_1 .product-flags li.product-discount span{
  background-color: #007CB7 !important;
  border-color: #007CB7 !important;
}
body.ybc-skin-green_1 .new_bubble .mm_bubble_text,
body.ybc-skin-green_1 .mls_slides .msl_layer_front.main-color-btn:hover span{
  background-color: #F8961D !important;
  border-color: #F8961D !important;
}


body.ybc-skin-green_1 .mls_slides .msl_layer_front.main-color-btn span{
  background-color: #50BE07 !important;
  border-color: #50BE07 !important;
}
body.ybc-skin-green_1 .wishlist:hover,
body.ybc-skin-green_1 .quick-view:hover,
body.ybc-skin-green_1 .block-social li a:hover,
body.ybc-skin-green_1 .social-sharing li a:hover{
  color: #ffffff !important;
}
body.ybc-skin-green_1 #blockcart-modal .btn-secondary{
  background-color: #ffffff;
  border-color: #ffffff;
}

/**/
body.ybc-skin-green_2{
  /*background: #007CB7!important;*/
}

body.ybc-skin-green_2 *::-webkit-selection{
  background-color: #87af33;
  color: #ffffff;
}

body.ybc-skin-green_2 *::-ms-selection{
  background-color: #87af33;
  color: #ffffff;
}

body.ybc-skin-green_2 *::-moz-selection{
  background-color: #87af33;
  color: #ffffff;
}

body.ybc-skin-green_2 *::selection{
  background-color: #87af33;
  color: #ffffff;
}


body.ybc-skin-green_2 #blockcart-modal .product-name,
body.ybc-skin-green_2 .nav-item .nav-separtor.active,
body.ybc-skin-green_2 .dropdown:hover > a,
body.ybc-skin-green_2 .contact_link_item i,
body.ybc-skin-green_2 .nav .dropdown > a,
body.ybc-skin-green_2 .ybc-widget-display-home .item-icon i,
body.ybc-skin-green_2 .blockcart.cart-preview .ion-bag,
body.ybc-skin-green_2 #footer .ybc-newsletter-popup .alert-success p span,
body.ybc-skin-green_2 .wd-content-display-home .bt_purcha,
body.ybc-skin-green_2 .ybc-widget-ybc-custom-1 .ybc-widget-title a,
body.ybc-skin-green_2 .ybc-widget-ybc-custom-3 .ybc-widget-title a,
body.ybc-skin-green_2 .bt_color,
body.ybc-skin-green_2 .ybc_coppyright a,
body.ybc-skin-green_2 #header .menu_cate .mm_menus_ul > li.view_more_menu > a:hover,
body.ybc-skin-green_2 #header .menu_cate .mm_menus_ul > li.view_less_menu > a:hover{
  color: #87af33;
}

body.ybc-skin-green_2 .custom_theme span,
body.ybc-skin-green_2 .mls_slides .mls_layer_type_front_text.main-color span{
  color: #87af33 !important;
}


body.ybc-skin-green_2 .ybc-widget-item-link:hover,
body.ybc-skin-green_2 #blockcart-modal .modal-header,
body.ybc-skin-green_2 .scroll_top.show_scroll,
body.ybc-skin-green_2 .custom-radio input[type="radio"]:checked + span,
body.ybc-skin-green_2 .owl-nav > div:hover,
body.ybc-skin-green_2 .transition_floating .close_menu,
body.ybc-skin-green_2 .transition_full .close_menu,
body.ybc-skin-green_2 .mls_nav > div,
body.ybc-skin-green_2 .ets_mm_megamenu.scroll_heading,
body.ybc-skin-green_2 .menu_cat_content,
body.ybc-skin-green_2 .product-actions .add-to-cart,
body.ybc-skin-green_2 .mls_pag_button.active,
body.ybc-skin-green_2 .ets_purchase_type_list input:checked + .product-thumbnail::before,
body.ybc-skin-green_2.ybc-layout-layouthome2 .mls_slider_running,
body.ybc-skin-green_2 .panel-product-w-custom .wishlist_button_extra:hover,
body.ybc-skin-green_2 #footer .ybc-theme-panel-inner #ybc_tc_float_header li.active,
body.ybc-skin-green_2 .product-flags .new span,
body.ybc-skin-green_2 .add_to_cart_button .btn.btn-primary,
body.ybc-skin-green_2 .wishlist,
body.ybc-skin-green_2 .quick-view,
body.ybc-skin-green_2 .cart-wishlist-checkout,
body.ybc-skin-green_2 .contact-rich .block .icon{
  border-color: #87af33;
  background-color: #87af33;
}
body.ybc-skin-green_2 .ybc-theme-panel-btn{
  border-left-color: #87af33;
}

body.ybc-skin-green_2 .form-control:focus {
  outline-color: #007CB7;
}



body.ybc-skin-green_2 .mm_has_sub:hover > a:after,
body.ybc-skin-green_2 .pagination a:hover,

body.ybc-skin-green_2 .product-flags li.product-discount::before,
body.ybc-skin-green_2 .ets-product-specific .discount-percentage::before,
body.ybc-skin-green_2 .product_thumb_horizontal .js-qv-product-images img.selected,
body.ybc-skin-green_2 .block_newsletter form input[type="text"]:focus,
body.ybc-skin-green_2 .menu_cate .ets_mm_megamenu{
  border-color: #007CB7;
}
body.ybc-skin-green_2 .cart-preview .cart-products-count{
  background-color: #007CB7
}
body.ybc-skin-green_2 .search-widget form button[type="submit"]:hover,
body.ybc-skin-green_2 .cart-wishlist-checkout:hover,
body.ybc-skin-green_2 .btn-primary:hover,
body.ybc-skin-green_2 #new_comment_form button:hover,
body.ybc-skin-green_2 .pagination .current a,
body.ybc-skin-green_2 .products-sort-order .select-list:hover,
body.ybc-skin-green_2 .btn-secondary:hover,
body.ybc-skin-green_2 .btn-tertiary:hover,
body.ybc-skin-green_2 .quick-view:hover,
body.ybc-skin-green_2 .discount-percentage,
body.ybc-skin-green_2 .slick-prev:hover,
body.ybc-skin-green_2 .block-categories-custom h3.block-categories-title,
body.ybc-skin-green_2 .slick-next:hover,
body.ybc-skin-green_2 .wishlist .addToWishlist:hover,
body.ybc-skin-green_2 .search-widget form button[type="submit"],
body.ybc-skin-green_2 a#wishlist_button:hover,
body.ybc-skin-green_2 .wishlist:hover,
body.ybc-skin-green_2 .quick-view:hover,
body.ybc-skin-green_2 .add_to_cart_button .btn.btn-primary:hover,
body.ybc-skin-green_2 .block_newsletter form .newsletter_submit,
body.ybc-skin-green_2 .menu_cate .ybc-menu-button-toggle,
body.ybc-skin-green_2 #blockcart-modal .btn-primary,
body.ybc-skin-green_2 .btn-primary,body.ybc-skin-green_2 .btn-secondary,body.ybc-skin-green_2 .btn-tertiary{
  background-color: #007CB7;
  border-color: #007CB7;
}
body.ybc-skin-green_2 .main-color,
body.ybc-skin-green_2 a:not(.btn):hover,
body.ybc-skin-green_2 #header .ybc-widget-ybc-custom-4 li a:hover,
body.ybc-skin-green_2 a:hover,
body.ybc-skin-green_2 .block-categories .collapse-icons .add:hover,
body.ybc-skin-green_2 .block-categories .collapse-icons .remove:hover,
body.ybc-skin-green_2 .dropdown:hover .expand-more,
body.ybc-skin-green_2 .nav .dropdown:hover > a,
body.ybc-skin-green_2 .ybc-widget-ybc-custom-1  .ybc-widget-title a:hover,
body.ybc-skin-green_2 .product-price-and-shipping,
body.ybc-skin-green_2 .product-prices div,
body.ybc-skin-green_2 .category-top-menu-pos > .view > span,
body.ybc-skin-green_2 .price.product-price,
body.ybc-skin-green_2 .nav-item .nav-link.active,
body.ybc-skin-green_2 .cart-total .value,
body.ybc-skin-green_2 .user-info a:hover i,
body.ybc-skin-green_2 .ybc-widget-display-home-content .ybc-widget-item-content:hover .item-icon i,
body.ybc-skin-green_2.page-my-account #content .links a:hover i,
body.ybc-skin-green_2 .contact_link_item a:hover i,
body.ybc-skin-green_2 .toogle_nav_button .toogle_nav:hover,
body.ybc-skin-green_2 .toogle_nav_content ul li:hover a,
body.ybc-skin-green_2 .contact_link_item a,
body.ybc-skin-green_2 .mls_slides .mls_slides_front span.color2,
body.ybc-skin-green_2 .wd-content-display-home .bt_purcha:hover,
body.ybc-skin-green_2 .ybc-widget-ybc-custom-1 .ybc-widget-subtitle,
body.ybc-skin-green_2 #header .menu_cate .mm_menus_li > a:hover,
body.ybc-skin-green_2 .menu_cate .mm_menus_ul > li.view_more_menu > a,
body.ybc-skin-green_2 .menu_cate .mm_menus_ul > li.view_less_menu > a,
body.ybc-skin-green_2 #wrapper .breadcrumb li:last-child a,
body.ybc-skin-green_2 .comments_note div.star::after{
  color: #007CB7;
}

body.ybc-skin-green_2 .contact_link_item .icon_svg svg{
  fill: #007CB7;
}
@media (max-width: 767px){
  body.ybc-skin-green_2 .header-top{
    background-color: #87af33
  }
}



body.ybc-skin-green_2 .sale_bubble .mm_bubble_text,
body.ybc-skin-green_2 .wd-content-display-home .sub_title,
body.ybc-skin-green_2 .product-flags li.product-discount span{
  background-color: #6e9ecf !important;
  border-color: #6e9ecf !important;
}
body.ybc-skin-green_2 .new_bubble .mm_bubble_text,
body.ybc-skin-green_2 .mls_slides .msl_layer_front.main-color-btn:hover span{
  background-color: #007CB7 !important;
  border-color: #007CB7 !important;
}


body.ybc-skin-green_2 .mls_slides .msl_layer_front.main-color-btn span{
  background-color: #87af33 !important;
  border-color: #87af33 !important;
}
body.ybc-skin-green_2 .wishlist:hover,
body.ybc-skin-green_2 .quick-view:hover,
body.ybc-skin-green_2 .block-social li a:hover,
body.ybc-skin-green_2 .social-sharing li a:hover{
  color: #ffffff !important;
}
body.ybc-skin-green_2 #blockcart-modal .btn-secondary{
  background-color: #ffffff;
  border-color: #ffffff;
}

/**/
body.ybc-skin-red{
  /*background: #28abe3!important;*/
}

body.ybc-skin-red *::-webkit-selection{
  background-color: #007CB7;
  color: #ffffff;
}

body.ybc-skin-red *::-ms-selection{
  background-color: #007CB7;
  color: #ffffff;
}

body.ybc-skin-red *::-moz-selection{
  background-color: #007CB7;
  color: #ffffff;
}

body.ybc-skin-red *::selection{
  background-color: #007CB7;
  color: #ffffff;
}


body.ybc-skin-red #blockcart-modal .product-name,
body.ybc-skin-red .nav-item .nav-separtor.active,
body.ybc-skin-red .dropdown:hover > a,
body.ybc-skin-red .contact_link_item i,
body.ybc-skin-red .nav .dropdown > a,
body.ybc-skin-red .ybc-widget-display-home .item-icon i,
body.ybc-skin-red .blockcart.cart-preview .ion-bag,
body.ybc-skin-red #footer .ybc-newsletter-popup .alert-success p span,
body.ybc-skin-red .wd-content-display-home .bt_purcha,
body.ybc-skin-red .ybc-widget-ybc-custom-1 .ybc-widget-title a,
body.ybc-skin-red .ybc-widget-ybc-custom-3 .ybc-widget-title a,
body.ybc-skin-red .bt_color,
body.ybc-skin-red .ybc_coppyright a,
body.ybc-skin-red #header .menu_cate .mm_menus_ul > li.view_more_menu > a:hover,
body.ybc-skin-red #header .menu_cate .mm_menus_ul > li.view_less_menu > a:hover{
  color: #007CB7;
}

body.ybc-skin-red .custom_theme span,
body.ybc-skin-red .mls_slides .mls_layer_type_front_text.main-color span{
  color: #007CB7 !important;
}


body.ybc-skin-red .ybc-widget-item-link:hover,
body.ybc-skin-red #blockcart-modal .modal-header,
body.ybc-skin-red .scroll_top.show_scroll,
body.ybc-skin-red .custom-radio input[type="radio"]:checked + span,
body.ybc-skin-red .owl-nav > div:hover,
body.ybc-skin-red .transition_floating .close_menu,
body.ybc-skin-red .transition_full .close_menu,
body.ybc-skin-red .mls_nav > div,
body.ybc-skin-red .ets_mm_megamenu.scroll_heading,
body.ybc-skin-red .menu_cat_content,
body.ybc-skin-red .product-actions .add-to-cart,
body.ybc-skin-red .mls_pag_button.active,
body.ybc-skin-red .ets_purchase_type_list input:checked + .product-thumbnail::before,
body.ybc-skin-red.ybc-layout-layouthome2 .mls_slider_running,
body.ybc-skin-red .panel-product-w-custom .wishlist_button_extra:hover,
body.ybc-skin-red #footer .ybc-theme-panel-inner #ybc_tc_float_header li.active,
body.ybc-skin-red .product-flags .new span,
body.ybc-skin-red .add_to_cart_button .btn.btn-primary,
body.ybc-skin-red .wishlist,
body.ybc-skin-red .quick-view,
body.ybc-skin-red .cart-wishlist-checkout,
body.ybc-skin-red .contact-rich .block .icon{
  border-color: #007CB7;
  background-color: #007CB7;
}
body.ybc-skin-red .ybc-theme-panel-btn{
  border-left-color: #007CB7;
}

body.ybc-skin-red .form-control:focus {
  outline-color: #28abe3;
}



body.ybc-skin-red .mm_has_sub:hover > a:after,
body.ybc-skin-red .pagination a:hover,

body.ybc-skin-red .product-flags li.product-discount::before,
body.ybc-skin-red .ets-product-specific .discount-percentage::before,
body.ybc-skin-red .product_thumb_horizontal .js-qv-product-images img.selected,
body.ybc-skin-red .block_newsletter form input[type="text"]:focus,
body.ybc-skin-red .menu_cate .ets_mm_megamenu{
  border-color: #28abe3;
}
body.ybc-skin-red .cart-preview .cart-products-count{
  background-color: #28abe3
}
body.ybc-skin-red .search-widget form button[type="submit"]:hover,
body.ybc-skin-red .cart-wishlist-checkout:hover,
body.ybc-skin-red .btn-primary:hover,
body.ybc-skin-red #new_comment_form button:hover,
body.ybc-skin-red .pagination .current a,
body.ybc-skin-red .products-sort-order .select-list:hover,
body.ybc-skin-red .btn-secondary:hover,
body.ybc-skin-red .btn-tertiary:hover,
body.ybc-skin-red .quick-view:hover,
body.ybc-skin-red .discount-percentage,
body.ybc-skin-red .slick-prev:hover,
body.ybc-skin-red .block-categories-custom h3.block-categories-title,
body.ybc-skin-red .slick-next:hover,
body.ybc-skin-red .wishlist .addToWishlist:hover,
body.ybc-skin-red .search-widget form button[type="submit"],
body.ybc-skin-red a#wishlist_button:hover,
body.ybc-skin-red .wishlist:hover,
body.ybc-skin-red .quick-view:hover,
body.ybc-skin-red .add_to_cart_button .btn.btn-primary:hover,
body.ybc-skin-red .block_newsletter form .newsletter_submit,
body.ybc-skin-red .menu_cate .ybc-menu-button-toggle,
body.ybc-skin-red #blockcart-modal .btn-primary,
body.ybc-skin-red .btn-primary,body.ybc-skin-red .btn-secondary,body.ybc-skin-red .btn-tertiary{
  background-color: #28abe3;
  border-color: #28abe3;
}
body.ybc-skin-red .main-color,
body.ybc-skin-red a:not(.btn):hover,
body.ybc-skin-red #header .ybc-widget-ybc-custom-4 li a:hover,
body.ybc-skin-red a:hover,
body.ybc-skin-red .block-categories .collapse-icons .add:hover,
body.ybc-skin-red .block-categories .collapse-icons .remove:hover,
body.ybc-skin-red .dropdown:hover .expand-more,
body.ybc-skin-red .nav .dropdown:hover > a,
body.ybc-skin-red .ybc-widget-ybc-custom-1  .ybc-widget-title a:hover,
body.ybc-skin-red .product-price-and-shipping,
body.ybc-skin-red .product-prices div,
body.ybc-skin-red .category-top-menu-pos > .view > span,
body.ybc-skin-red .price.product-price,
body.ybc-skin-red .nav-item .nav-link.active,
body.ybc-skin-red .cart-total .value,
body.ybc-skin-red .user-info a:hover i,
body.ybc-skin-red .ybc-widget-display-home-content .ybc-widget-item-content:hover .item-icon i,
body.ybc-skin-red.page-my-account #content .links a:hover i,
body.ybc-skin-red .contact_link_item a:hover i,
body.ybc-skin-red .toogle_nav_button .toogle_nav:hover,
body.ybc-skin-red .toogle_nav_content ul li:hover a,
body.ybc-skin-red .contact_link_item a,
body.ybc-skin-red .mls_slides .mls_slides_front span.color2,
body.ybc-skin-red .wd-content-display-home .bt_purcha:hover,
body.ybc-skin-red .ybc-widget-ybc-custom-1 .ybc-widget-subtitle,
body.ybc-skin-red #header .menu_cate .mm_menus_li > a:hover,
body.ybc-skin-red .menu_cate .mm_menus_ul > li.view_more_menu > a,
body.ybc-skin-red .menu_cate .mm_menus_ul > li.view_less_menu > a,
body.ybc-skin-red #wrapper .breadcrumb li:last-child a,
body.ybc-skin-red .comments_note div.star::after{
  color: #28abe3;
}

body.ybc-skin-red .contact_link_item .icon_svg svg{
  fill: #28abe3;
}
@media (max-width: 767px){
  body.ybc-skin-red .header-top{
    background-color: #007CB7
  }
}



body.ybc-skin-red .sale_bubble .mm_bubble_text,
body.ybc-skin-red .wd-content-display-home .sub_title,
body.ybc-skin-red .product-flags li.product-discount span{
  background-color: #007CB7 !important;
  border-color: #007CB7 !important;
}
body.ybc-skin-red .new_bubble .mm_bubble_text,
body.ybc-skin-red .mls_slides .msl_layer_front.main-color-btn:hover span{
  background-color: #28abe3 !important;
  border-color: #28abe3 !important;
}


body.ybc-skin-red .mls_slides .msl_layer_front.main-color-btn span{
  background-color: #007CB7 !important;
  border-color: #007CB7 !important;
}
body.ybc-skin-red .wishlist:hover,
body.ybc-skin-red .quick-view:hover,
body.ybc-skin-red .block-social li a:hover,
body.ybc-skin-red .social-sharing li a:hover{
  color: #ffffff !important;
}
body.ybc-skin-red #blockcart-modal .btn-secondary{
  background-color: #ffffff;
  border-color: #ffffff;
}

/**/
body.ybc-skin-custom{
  /*background: #00CCD6!important;*/
}

body.ybc-skin-custom *::-webkit-selection{
  background-color: #007CB7;
  color: #ffffff;
}

body.ybc-skin-custom *::-ms-selection{
  background-color: #007CB7;
  color: #ffffff;
}

body.ybc-skin-custom *::-moz-selection{
  background-color: #007CB7;
  color: #ffffff;
}

body.ybc-skin-custom *::selection{
  background-color: #007CB7;
  color: #ffffff;
}


body.ybc-skin-custom #blockcart-modal .product-name,
body.ybc-skin-custom .nav-item .nav-separtor.active,
body.ybc-skin-custom .dropdown:hover > a,
body.ybc-skin-custom .contact_link_item i,
body.ybc-skin-custom .nav .dropdown > a,
body.ybc-skin-custom .ybc-widget-display-home .item-icon i,
body.ybc-skin-custom .blockcart.cart-preview .ion-bag,
body.ybc-skin-custom #footer .ybc-newsletter-popup .alert-success p span,
body.ybc-skin-custom .wd-content-display-home .bt_purcha,
body.ybc-skin-custom .ybc-widget-ybc-custom-1 .ybc-widget-title a,
body.ybc-skin-custom .ybc-widget-ybc-custom-3 .ybc-widget-title a,
body.ybc-skin-custom .bt_color,
body.ybc-skin-custom .ybc_coppyright a,
body.ybc-skin-custom #header .menu_cate .mm_menus_ul > li.view_more_menu > a:hover,
body.ybc-skin-custom #header .menu_cate .mm_menus_ul > li.view_less_menu > a:hover{
  color: #007CB7;
}

body.ybc-skin-custom .custom_theme span,
body.ybc-skin-custom .mls_slides .mls_layer_type_front_text.main-color span{
  color: #007CB7 !important;
}


body.ybc-skin-custom .ybc-widget-item-link:hover,
body.ybc-skin-custom #blockcart-modal .modal-header,
body.ybc-skin-custom .scroll_top.show_scroll,
body.ybc-skin-custom .custom-radio input[type="radio"]:checked + span,
body.ybc-skin-custom .owl-nav > div:hover,
body.ybc-skin-custom .transition_floating .close_menu,
body.ybc-skin-custom .transition_full .close_menu,
body.ybc-skin-custom .mls_nav > div,
body.ybc-skin-custom .ets_mm_megamenu.scroll_heading,
body.ybc-skin-custom .menu_cat_content,
body.ybc-skin-custom .product-actions .add-to-cart,
body.ybc-skin-custom .mls_pag_button.active,
body.ybc-skin-custom .ets_purchase_type_list input:checked + .product-thumbnail::before,
body.ybc-skin-custom.ybc-layout-layouthome2 .mls_slider_running,
body.ybc-skin-custom .panel-product-w-custom .wishlist_button_extra:hover,
body.ybc-skin-custom #footer .ybc-theme-panel-inner #ybc_tc_float_header li.active,
body.ybc-skin-custom .product-flags .new span,
body.ybc-skin-custom .add_to_cart_button .btn.btn-primary,
body.ybc-skin-custom .wishlist,
body.ybc-skin-custom .quick-view,
body.ybc-skin-custom .cart-wishlist-checkout,
body.ybc-skin-custom .contact-rich .block .icon{
  border-color: #007CB7;
  background-color: #007CB7;
}
body.ybc-skin-custom .ybc-theme-panel-btn{
  border-left-color: #007CB7;
}

body.ybc-skin-custom .form-control:focus {
  outline-color: #00CCD6;
}



body.ybc-skin-custom .mm_has_sub:hover > a:after,
body.ybc-skin-custom .pagination a:hover,

body.ybc-skin-custom .product-flags li.product-discount::before,
body.ybc-skin-custom .ets-product-specific .discount-percentage::before,
body.ybc-skin-custom .product_thumb_horizontal .js-qv-product-images img.selected,
body.ybc-skin-custom .block_newsletter form input[type="text"]:focus,
body.ybc-skin-custom .menu_cate .ets_mm_megamenu{
  border-color: #00CCD6;
}
body.ybc-skin-custom .cart-preview .cart-products-count{
  background-color: #00CCD6
}
body.ybc-skin-custom .search-widget form button[type="submit"]:hover,
body.ybc-skin-custom .cart-wishlist-checkout:hover,
body.ybc-skin-custom .btn-primary:hover,
body.ybc-skin-custom #new_comment_form button:hover,
body.ybc-skin-custom .pagination .current a,
body.ybc-skin-custom .products-sort-order .select-list:hover,
body.ybc-skin-custom .btn-secondary:hover,
body.ybc-skin-custom .btn-tertiary:hover,
body.ybc-skin-custom .quick-view:hover,
body.ybc-skin-custom .discount-percentage,
body.ybc-skin-custom .slick-prev:hover,
body.ybc-skin-custom .block-categories-custom h3.block-categories-title,
body.ybc-skin-custom .slick-next:hover,
body.ybc-skin-custom .wishlist .addToWishlist:hover,
body.ybc-skin-custom .search-widget form button[type="submit"],
body.ybc-skin-custom a#wishlist_button:hover,
body.ybc-skin-custom .wishlist:hover,
body.ybc-skin-custom .quick-view:hover,
body.ybc-skin-custom .add_to_cart_button .btn.btn-primary:hover,
body.ybc-skin-custom .block_newsletter form .newsletter_submit,
body.ybc-skin-custom .menu_cate .ybc-menu-button-toggle,
body.ybc-skin-custom #blockcart-modal .btn-primary,
body.ybc-skin-custom .btn-primary,body.ybc-skin-custom .btn-secondary,body.ybc-skin-custom .btn-tertiary{
  background-color: #00CCD6;
  border-color: #00CCD6;
}
body.ybc-skin-custom .main-color,
body.ybc-skin-custom a:not(.btn):hover,
body.ybc-skin-custom #header .ybc-widget-ybc-custom-4 li a:hover,
body.ybc-skin-custom a:hover,
body.ybc-skin-custom .block-categories .collapse-icons .add:hover,
body.ybc-skin-custom .block-categories .collapse-icons .remove:hover,
body.ybc-skin-custom .dropdown:hover .expand-more,
body.ybc-skin-custom .nav .dropdown:hover > a,
body.ybc-skin-custom .ybc-widget-ybc-custom-1  .ybc-widget-title a:hover,
body.ybc-skin-custom .product-price-and-shipping,
body.ybc-skin-custom .product-prices div,
body.ybc-skin-custom .category-top-menu-pos > .view > span,
body.ybc-skin-custom .price.product-price,
body.ybc-skin-custom .nav-item .nav-link.active,
body.ybc-skin-custom .cart-total .value,
body.ybc-skin-custom .user-info a:hover i,
body.ybc-skin-custom .ybc-widget-display-home-content .ybc-widget-item-content:hover .item-icon i,
body.ybc-skin-custom.page-my-account #content .links a:hover i,
body.ybc-skin-custom .contact_link_item a:hover i,
body.ybc-skin-custom .toogle_nav_button .toogle_nav:hover,
body.ybc-skin-custom .toogle_nav_content ul li:hover a,
body.ybc-skin-custom .contact_link_item a,
body.ybc-skin-custom .mls_slides .mls_slides_front span.color2,
body.ybc-skin-custom .wd-content-display-home .bt_purcha:hover,
body.ybc-skin-custom .ybc-widget-ybc-custom-1 .ybc-widget-subtitle,
body.ybc-skin-custom #header .menu_cate .mm_menus_li > a:hover,
body.ybc-skin-custom .menu_cate .mm_menus_ul > li.view_more_menu > a,
body.ybc-skin-custom .menu_cate .mm_menus_ul > li.view_less_menu > a,
body.ybc-skin-custom #wrapper .breadcrumb li:last-child a,
body.ybc-skin-custom .comments_note div.star::after{
  color: #00CCD6;
}

body.ybc-skin-custom .contact_link_item .icon_svg svg{
  fill: #00CCD6;
}
@media (max-width: 767px){
  body.ybc-skin-custom .header-top{
    background-color: #007CB7
  }
}



body.ybc-skin-custom .sale_bubble .mm_bubble_text,
body.ybc-skin-custom .wd-content-display-home .sub_title,
body.ybc-skin-custom .product-flags li.product-discount span{
  background-color: #007CB7 !important;
  border-color: #007CB7 !important;
}
body.ybc-skin-custom .new_bubble .mm_bubble_text,
body.ybc-skin-custom .mls_slides .msl_layer_front.main-color-btn:hover span{
  background-color: #00CCD6 !important;
  border-color: #00CCD6 !important;
}


body.ybc-skin-custom .mls_slides .msl_layer_front.main-color-btn span{
  background-color: #007CB7 !important;
  border-color: #007CB7 !important;
}
body.ybc-skin-custom .wishlist:hover,
body.ybc-skin-custom .quick-view:hover,
body.ybc-skin-custom .block-social li a:hover,
body.ybc-skin-custom .social-sharing li a:hover{
  color: #ffffff !important;
}
body.ybc-skin-custom #blockcart-modal .btn-secondary{
  background-color: #ffffff;
  border-color: #ffffff;
}

ul.specs{
  list-style-position: inside;
}

.specs-container{
  text-align: left;
}

